<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
    <form action="/register" method="post">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br>

        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone"><br>


        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        
        <label for="role">Role:</label><br>
        <select id="role" name="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select><br><br>

        <input type="submit" value="Submit">
      </form> 
</html>